<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    Please enter the following:
    <br>
    <br>
  <form action="/madlib">
    <label>Color</label>
    <input type ="text" name="color">
    <br>
    <br>
    <label>Noun</label>
    <input type ="text" name="noun">
    <br>
    <br>
    <label>Person</label>
    <input type ="text" name="person">
    <br>
    <br>
    <label>Adjective</label>
    <input type ="text" name="adjective">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>